
.chat-login {
    margin-top: 168px;
}
.chat-messages {
    height: 500px;
    overflow-y: auto;
}
.list-group-item { 
    cursor: pointer;
}
.myChatBubble { 
    background-color: aquamarine;
}
.friendChatBubble {
    background-color: bisque;
}